name: CI/CD Docker

on:
    push:
        branches: [ "master" ]

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout del código
              uses: action/checkout@v4

            - name: Login en Docker Hub
              uses: docker/login-action@v3
              with: 
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build y Push de la Imagen
              uses: docker/build-push-action@v5
              with:
                context: .
                file: EFCoreCourse/Docker/Dockerfile
                push: true
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/efcorecourse-api:latest

            - name: Avisar a Render (Deploy)
              run: curl ${{ secrets.RENDER_DEPLOY_HOOK }}